@inject IModalService ModalService

<div>
    @ExportString
</div>

@functions {
    [CascadingParameter] ModalParameters Parameters { get; set; }
    StarSystem system { get; set; }
    string ExportString { get; set; }

    protected override void OnInit()
    {
        Console.WriteLine("Got In here!");

        system = Parameters.Get<StarSystem>("StarSystem");

        //ExportString = system.serialize();
    }
}
