@inject IModalService ModalService

<div style="max-height: 500px; overflow-y: auto;">
    <pre>@ExportString</pre>
</div>

@functions {
    [CascadingParameter] ModalParameters Parameters { get; set; }
    StarSystem system { get; set; }
    string ExportString { get; set; }

    protected override void OnInit()
    {
        Console.WriteLine("Got In here!");

        system = Parameters.Get<StarSystem>("StarSystem");

        ExportString = system.serialize();
    }
}
