@inject Services.TestService testService

<ul>
    @foreach (var item in testService.testStrings.OrderBy(x=>x))
    {
        <li>@item</li>
    }
</ul>

@code{
    //protected void Refresh()
    //{
    //    StateHasChanged();
    //}

    protected override async Task OnInitializedAsync()
    {
        testService.OnListCountChanged += StateHasChanged;
    }
}