@inject IModalService ModalService
<p style="white-space: pre-wrap;">@planet.Name</p>
<p style="white-space: pre-wrap;">@planet.Atmosphere.AtmosphereType</p>
<input @bind="planet.Biosphere.Description" />


@functions {
    [CascadingParameter] ModalParameters Parameters { get; set; }
    Planet planet { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("Got In here!");

        planet = Parameters.Get<Planet>("PlanetInfo");
    }
}