@page "/"
@inject StarSystemBuilderService systemBuilder

<button class="btn btn-primary" @onclick="@GenerateSystem">Generate Star System!</button>

@if (starSystem == null)
{
    <span>Click Generate to create a system!</span>
}
else
{
    <CascadingValue Value="@starSystem" Name="starSystem">
        <StarSystemDetails />
        @if (starSystem.SystemStar.Flatten().Any(x => x.Anomalies.Count > 1))
        {
            var anomalies = starSystem.SystemStar.Flatten().Where(x => x.Anomalies.Count > 0).SelectMany(x => x.Anomalies).ToList();
            <ul>
                @foreach (var item in anomalies)
                {
                    <li>@item</li>
                }
            </ul>
        }
    </CascadingValue>


}


@code {
    StarSystem starSystem = null;

    private void GenerateSystem()
    {
        starSystem = systemBuilder.GenerateStar().GenerateSystem().Build();
    }
}
