@page "/"
@inject StarSystemBuilderService systemBuilder

<button class="btn btn-primary" @onclick="@GenerateSystem">Generate Star System!</button>

@if (starSystem == null)
{
    <span>Click Generate to create a system!</span>
}
else
{
    <CascadingValue Value="@starSystem" Name="starSystem">
        <StarSystemDetails />
    </CascadingValue>

}


@code {
    StarSystem starSystem = null;

    private void GenerateSystem()
    {
        starSystem = systemBuilder.GenerateStar().GenerateSystem().Build();
    }
}