@page "/"
@inject Services.AdventureGeneratorService generator
@using Newtonsoft;

<div style="display:flex; flex-direction:column">
    @adventure
</div>

<div style="display:flex; flex-direction:column">
    @starSystem
</div>

<button class="btn btn-primary" @onclick="@GenerateAdventure">Generate!</button>

<button class="btn btn-primary" @onclick="@GenerateStarSystem">Generate!</button>

@code {

    private Services.StarSystemGeneratorService StarSystemGeneratorService = new Services.StarSystemGeneratorService(new Services.PlanetBuilderService());

    private string adventure = "Click the generate button to get adventuring!";

    private string starSystem = "";

    private void GenerateAdventure()
    {
        adventure = generator.GenerateAdventure();
    }

    private void GenerateStarSystem()
    {
        var sys = StarSystemGeneratorService.GenerateStar().GenerateSystem().Build();

        starSystem = sys.serialize();
    }

    protected override async Task OnInitAsync()
    {
    }
}