@page "/test"
@using SingularityLathe.Web.Components
@inject Services.TestService testService


<input type="text" @bind="addString" />
<button @onclick="@AddItem">Add Item!</button>

<TestServiceRender />

<TestServiceRenderOrdered />

@code {

    public string addString = "";

    private void AddItem()
    {
        testService.AddListItem(addString);
    }

    protected void Refresh()
    {
        StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        testService.OnListCountChanged += StateHasChanged;
    }
}